# Pandas

In [74]:
import pandas as pd
import numpy as np

In [75]:
pd.__version__

'1.3.4'

###  Lire des données

Pandas permet de travailler avec beaucoup de format de données en tableaux :

* `read_csv`

Pour être lu, le fichier doit être situé dans le même dossier que votre notebook.

In [55]:
df_gapminder = pd.read_csv('/Users/thibaultdanel/Downloads/MasterClass_DataScience_Machine_Learning_Notebooks_et_Datasets/03-Pandas/Datasets/hotel_booking_data.csv')

Pour lire un fichier situé ailleurs dans votre disque dur, il est nécessaire d'indiquer son chemin complet :

Sur MacOS, il est possible d'obtenir le chemin complet en utilisant `clic droit + alt` pour faire apparaître "Copier en tant que nom de chemin".

Sur Windows, les chemins de fichier sont parfois mal reconnus et provoquent une erreur. Dans ce cas-là, il suffit souvent d'ajouter `r` avant le chemin (pour "raw text"). Ex : `r'/Users/DataBird/Python/gapminder.csv'`.

* `read_excel`

In [76]:
# Faire tourner cette cellule si les cellules suivantes ne fonctionnent pas
#!pip3 install openpyxl

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: openpyxl in /opt/homebrew/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/homebrew/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/homebrew/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [77]:
dataframe_insee = pd.read_excel('/Users/thibaultdanel/Downloads/base_insee_salaire-211102-131356.xlsx', header=4, sheet_name='DEP') # quelques arguments optionnels
dataframe_insee

,Code géographique,Libellé géographique,Salaire net horaire moyen en 2016 (€),Salaire net hor. Moy. Cadres sup. en 2016 (€),Salaire net hor. moy. prof inter. en 2016 (€),Salaire net hor. moy. employés en 2016 (€),Salaire net hor. moy. ouvriers en 2016 (€),Salaire net horaire moyen F en 2016 (€),Salaire net hor. moy. F cadres sup. en 2016 (€),Salaire net hor. moy. F prof inter. en 2016 (€),...,Salaire net hor. moy. H ouvriers en 2016 (€),Salaire net horaire moyen 18 à 25 ans en 2016 (€),Salaire net horaire moyen 26 à 50 ans en 2016 (€),Salaire net horaire moyen plus de 50 ans en 2016 (€),Salaire net horaire moyen F 18 à 25 ans en 2016 (€),Salaire net horaire moyen F 26 à 50 ans en 2016 (€),Salaire net horaire moyen F plus de 50 ans en 2016 (€),Salaire net horaire moyen H 18 à 25 ans en 2016 (€),Salaire net horaire moyen H 26 à 50 ans en 2016 (€),Salaire net horaire moyen H plus de 50 ans en 2016 (€)
0,CODGEO,LIBGEO,SNHM16,SNHMC16,SNHMP16,SNHME16,SNHMO16,SNHMF16,SNHMFC16,SNHMFP16,...,SNHMHO16,SNHM1816,SNHM2616,SNHM5016,SNHMF1816,SNHMF2616,SNHMF5016,SNHMH1816,SNHMH2616,SNHMH5016
1,01,Ain,13.692075,24.027514,14.681117,10.563651,11.097601,12.014696,20.445231,13.310699,...,11.454756,9.550547,13.609086,15.69045,9.168606,12.088762,13.057311,9.827183,14.662384,17.590653
2,02,Aisne,12.6523,22.624211,14.41884,10.285715,11.13705,11.380769,19.282325,13.134181,...,11.386328,9.43083,12.441549,14.418446,9.0191,11.306952,12.541363,9.698512,13.080266,15.486736
3,03,Allier,12.229584,22.203111,13.922565,9.867545,10.754163,10.974892,18.89851,12.805245,...,11.010373,9.240458,11.9575,14.023337,8.823046,10.817436,12.140666,9.529517,12.731566,15.386121
4,04,Alpes-de-Haute-Provence,12.671066,21.470378,14.152009,10.031947,10.807798,11.302364,18.799875,12.648012,...,11.082308,9.23903,12.417801,14.58389,8.941568,11.2255,12.366242,9.458416,13.278172,16.297564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,95,Val-d'Oise,15.433788,25.062007,15.500371,11.2298,11.489132,14.183139,21.923958,14.846566,...,11.813866,9.743198,15.013899,18.73257,9.457118,14.102476,16.428564,9.992249,15.636683,20.33741
97,971,Guadeloupe,13.973378,27.31458,15.89167,11.301097,11.075154,13.077624,23.600393,15.061613,...,11.369718,8.984541,13.43772,16.388235,9.018512,12.781063,14.730725,8.957945,14.061091,17.807723
98,972,Martinique,13.754435,26.756461,15.555097,11.107214,11.184549,12.914554,23.225547,14.70052,...,11.527152,9.086124,13.247292,15.764091,9.124432,12.640064,14.269374,9.055624,13.803871,17.038436
99,973,Guyane,14.541101,27.790083,17.072618,11.251163,11.113551,13.633748,23.935731,15.63484,...,11.341669,9.40945,14.040726,18.173921,9.405734,13.509561,16.256527,9.411829,14.391552,19.105404
100,974,La Réunion,12.822329,25.424661,14.840377,10.44684,10.784821,12.158674,22.133524,14.200129,...,10.985245,8.67189,12.686066,15.702188,8.588367,12.246499,14.243094,8.732212,12.975898,16.513487

* `read_html`

Pas besoin de tout comprendre au code ci-dessous. Il s'agit juste d'un exemple, qui est développé dans le cours de Scraping, montrant qu'il est possible de lire des données directement issues du web avec Pandas.

In [83]:
#!pip3 install lxml
import requests
base_url = "http://e-mouvement.snuipp.fr/75/pages/statistiques/page:1?city=PARIS&type=&bareme=&annee=all"
html_raw = requests.get(base_url).content

In [95]:
dataframe_ecoles = pd.read_html(html_raw)

ValueError: No tables found

* `read_clipboard`

Enfin, un exemple plus "gadget" : il est même possible de lire depuis le presse-papier. Par ex, vous pouvez vous rendre sur la page https://fr.wikipedia.org/wiki/Liste_des_pays_par_IDH et copier l'une des tables simples, puis :

In [94]:
df = pd.read_clipboard()
df

,27,en diminution (1),Drapeau de l'Espagne Espagne,0.884,en augmentation 0.002
0,28,Stable,Drapeau de la Tchéquie Tchéquie,0.878,en augmentation 0.003
1,29,Stable,Drapeau de la Grèce Grèce,0.866,en augmentation 0.001
2,30,Stable,Drapeau du Brunei Brunei,0.865,en augmentation 0.001
3,30,en augmentation (1),Drapeau de l'Estonie Estonie,0.865,en augmentation 0.002
4,32,Stable,Drapeau d'Andorre Andorre,0.858,en augmentation 0.001
5,33,en augmentation (1),Drapeau de Chypre Chypre,0.856,en augmentation 0.002
6,33,en augmentation (2),Drapeau de Malte Malte,0.856,en augmentation 0.003
7,33,Stable,Drapeau du Qatar Qatar,0.856,en augmentation 0.001
8,36,Stable,Drapeau de la Pologne Pologne,0.855,en augmentation 0.003
9,37,Stable,Drapeau de la Lituanie Lituanie,0.848,en augmentation 0.002
10,38,Stable,Drapeau du Chili Chili,0.847,en augmentation 0.002
11,38,Stable,Drapeau de l'Arabie saoudite Arabie saoudite,0.847,en augmentation 0.002
12,40,Stable,Drapeau de la Slovaquie Slovaquie,0.845,en augmentation 0.003
13,41,Stable,Drapeau du Portugal Portugal,0.843,en augmentation 0.002
14,42,Stable,Drapeau des Émirats arabes unis Émirats arabes...,0.840,en augmentation 0.004
15,43,Stable,Drapeau de la Hongrie Hongrie,0.836,en augmentation 0.002
16,44,Stable,Drapeau de la Lettonie Lettonie,0.830,en augmentation 0.002
17,45,Stable,Drapeau de l'Argentine Argentine,0.827,en augmentation 0.001
18,45,en augmentation (1),Drapeau de la Croatie Croatie,0.827,en augmentation 0.004
19,47,en diminution (1),Drapeau de Bahreïn Bahreïn,0.824,en augmentation 0.001
20,48,en diminution (1),Drapeau du Monténégro Monténégro,0.807,en augmentation 0.003
21,49,en diminution (1),Drapeau de la Russie Russie,0.804,en diminution 0.001
22,50,en augmentation (1),Drapeau de la Roumanie Roumanie,0.802,en augmentation 0.004
23,51,en diminution (1),Drapeau du Koweït Koweït,0.800,en augmentation 0.001

Regardons maintenant comment manipuler ces dataframes pour afficher et transformer les données les plus pertinentes lors d'un projet d'analyse !